$accent-color: #007a58;
$text-color: #e2e2e2;

html,
body,
body > .ember-view {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  background-color: #2e3642;
  background: url('../images/noisy_net.png');
  font-weight: 300;
  color: $text-color;
}

ul {
  padding-left: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

.ember-burger-menu {
  .bm-outlet > .bm-content {
    background: #111;
  }

  .bm-menu {
    background: $accent-color;

    a.close {
      position: absolute;
      top: 0;
      padding: 10px;

      &.left {
        right: 0;
      }

      &.right {
        left: 0;
      }
    }

    h2 {
      margin: 0;
      padding: 1em;
      color: rgba(0,0,0,0.4);
      text-shadow: 0 0 1px rgba(0,0,0,0.1);
      font-size: 2em;
      text-align: center;
      text-transform: uppercase;
      font-family: 'Bungee Hairline', cursive;
      font-weight: bold;

      > i {
        padding-right: 10px;
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        a {
          display: block;
          padding: 1em 1em 1em 1.2em;
          outline: none;
          border-bottom: 1px solid rgba(0,0,0,0.2);
          color: $text-color;
          text-transform: uppercase;
          text-shadow: 0 0 1px rgba(255,255,255,0.1);
          letter-spacing: 1px;
          -webkit-transition: background 0.3s;
          transition: background 0.3s;
          cursor: pointer;

          > i {
            margin-right: 20px;
            font-size: 20px;

            &:before {
              vertical-align: middle;
            }
          }

          &:hover {
            background: #ad4636;
          }
        }


        &:first-child a {
          border-top: 1px solid rgba(0,0,0,0.2);
        }
      }
    }
  }
}

.btn-outline {
  border-color: $accent-color;
  box-shadow: none;
  color: $text-color;
  font-weight: 300;
  background: transparent;

  &:hover, &:focus, &:active, &:active:focus, &.active, &.active:hover, &.active:focus {
    z-index: 0;
    outline: 0;
    box-shadow: none;
    background: $accent-color;
    color: $text-color;
    border-color: darken($accent-color, 5);
  }
}

.section {
  padding: 1rem;
}

.row {
  display: flex;

  &__item {
    margin: 1rem;
    flex-grow: 1;

    &--time {
      flex-basis: 20%;
      flex-grow: 0;
    }
  }

  @media (max-width: 700px) {
    flex-wrap: wrap;

    &__item {
      flex-basis: calc(50% - 2rem);
    }

    &__item--time {
      flex-basis: 100%;
    }
  }

  @media (max-width: 460px) {
    flex-direction: column;
  }
}

.card {
  padding: 0.5rem;
  border: 0.1rem solid white;
  border-radius: 0.4rem;
  text-align: center;
  cursor: pointer;

  &--time {
    background: $accent-color;
  }

  &:hover {
    background: lighten($accent-color, 10%);
    color: #111;
  }
}

.modal-overlay {
  position: fixed;
  z-index: 1;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;


  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(#000, 0.8);
}

.modal-card {
  position: relative;
  width: 100%;
  max-width: 60rem;
  margin: 2rem;
  background: #eee;
  color: #111;
  padding: 1rem;

  &__close {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    opacity: 0.4;
    padding: 0.5rem;

    cursor: pointer;
  }
}

.close {
  display: inline-block;
  cursor: pointer;
  padding: 1rem;
}
