<div class="section">
  <div class="logo">
    <img src="http://nodevember.org/img/logo-dark.png" alt="">
  </div>
  <div class="row">
    {{!-- <a {{action burger.state.actions.toggle}} class="close fa fa-bars"></a> --}}
  </div>
  {{outlet}}
</div>
